.senses_vision_btn {
  left: 17%;
}

.senses_smell_btn {
  left: 29%;
}

.senses_taste_btn {
  left: 41%;
}

.senses_hearing_btn {
  left: 53%;
}

.senses_touch_btn {
  left: 65%;
}

.Scene4_lottie_container {
  background-color: white;
  position: fixed;
  width: 10%;
  height: 20%;
  border-radius: 100%;
  left: 39%;
  top: 39%;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.senses_vision_txt {
  left: 18.8%;
}

.senses_smell_txt {
  left: 31%;
}

.senses_Taste_txt {
  left: 42.5%;
}

.senses_hearing_txt {
  left: 54.5%;
}

.senses_touch_txt {
  left: 66.8%;
}

.audio_replay_icon_scene6 {
  position: fixed;
  right: 50%;
  top: 83%;
  width: 6%;
  border-radius: 50%;
  z-index: 99;
}

.Scene6_lottie_container {
  width: 100%;
  height: 57%;
  position: fixed;
  left: -5%;
  bottom: 4%;
  z-index: 1;
}
