.senses_vision_btn {
  left:13%}

  
.senses_smell_btn {
  left:28%;
}

.senses_taste_btn {
  left:43%
}

.senses_hearing_btn {
  left:58%
}

.senses_touch_btn {
  left:73%
}

.Scene4_lottie_container {
  background-color: white;
  position: fixed;
  width: 14%;
  height: 26%;
  border-radius: 100%;
  left: 41%;
  top: 25%;
  align-items: center;
  justify-content: center;
  padding: 2%;}

.senses_vision_txt {
  left:15.5%;width:10%
}

.senses_smell_txt {
  left:30%;width:10%
}

.senses_Taste_txt {
  left:45%;width:10%
}

.senses_hearing_txt {
  left:59.5%;width:10%
}

.senses_touch_txt {
  left:75%;width:10%
}

.audio_replay_icon_scene6 {
  position: fixed;
  right: 46%;
  top: 78%;
  width: 8%;
  /* background-color: aqua; */
  border-radius: 50%;
  z-index: 99;
}

.Scene6_lottie_container {
  width: 100%;
  height: 79%;
  position: fixed;
  left: 0%;
  bottom: 9%;
  z-index: 1;}
