.senses_character_img_scene2 {
  width: 20%;
  position: fixed;
  top: 30%;
  right: 33%;
  padding: 5%;
}

.intro_lottie_container {
  position: fixed;
  bottom: 0%;
  left: 44.5%;
  z-index: 0;
  width: 11%;
  height: 40%;
}

.Scene5_lottie_container {
  left: 15%;
  position: fixed;
  top: 36%;
  width: 16%;}

.Game2_vision_img {
  position: fixed;
  right: 36.5%;
  top: 27%;
  width: 15%;
  z-index: 1}

.Game2_Newspaper_img {
  bottom: 0;
  position: fixed;
  right: 54%;
  width: 16%;}

.Game2_sun_img {
  bottom: 0%;
    position: fixed;
    right: 19%;
    width: 20%;}

.Game2_Larrow_img {

  position: fixed;
  right: 44%;
  top: 50%;
  width: 12%;
  z-index: 0;
}

.Game2_Rarrow_img {
  position: fixed;
  right: 31%;
  top: 49%;
  width: 12%;
  z-index: 0;
  transform: scaleX(-1);}

.senses_vision_Scene2 {
  width: 11%;
  position: absolute;
  top: 53%;
  left: 43.5%;
}

.senses_touch_Scene2 {
  width: 11%;
  position: fixed;
  top: 90%;
  left: 17.4%;}


.senses_smell_Scene2 {
  width: 11%;
  position: fixed;
  top: 90%;
  right: 17.4%;}

.senses_taste_Scene2 {
  width: 11%;
    position: fixed;
    top: 53%;
    left: 17.4%;}

.senses_hearing_Scene2 {
  width: 15%;
  position: fixed;
  top: 53%;
  right: 15%;}
  
